<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
          <img src="/public/images/neberybka_logo_white.png"></img>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Aktuality</a>

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.urls.onas }}/">O nás</a>

      <a class="sidebar-nav-item{% if page.url == site.urls.prostor %} active{% endif %}" href="{{ site.urls.prostor }}">Prostor</a>

      <a class="sidebar-nav-item{% if page.url == site.urls.akce %} active{% endif %}" href="{{ site.urls.akce }}">Akce</a>

      <a class="sidebar-nav-item{% if page.url == site.urls.pobyvani %} active{% endif %}" href="{{ site.urls.pobyvani }}">Pobývání</a>

      <!--
      <a class="sidebar-nav-item{% if page.url == site.urls.people %} active{% endif %}" href="{{ site.urls.people }}">Lidé</a>
      -->

      <a class="sidebar-nav-item{% if page.url == site.urls.galerie %} active{% endif %}" href="{{ site.urls.galerie }}">Galerie</a>
<!--
      <a class="sidebar-nav-item{% if page.url == site.blog.url %} active{% endif %}" href="{{ site.blog.url }}">Blog</a> -->

      <a class="sidebar-nav-item{% if page.url == site.urls.kontakt %} active{% endif %}" href="{{ site.urls.kontakt }}">Kontakt</a>

</nav>

      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
     -->
<!--
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->


  <!--
    <div class="sidebar-sticky">
      <small>
        Stránky jsou ve výstavbě - jako chalupa=) </tiny>
      </small>
    </div>
  -->
  </div>


</div>
